BLOB_READ_WRITE_TOKEN="VAR"
DATABASE_URI="VAR"
NEXT_PUBLIC_ENABLE_ADMIN_PREVIEW="VAR"
NEXT_PUBLIC_ENABLE_NEWSLETTER_GATE="VAR"
NEXT_PUBLIC_SENTRY_DSN="VAR"
PAYLOAD_SECRET="VAR"
PREVIEW_SECRET="VAR"
RESEND_API_KEY="VAR"
RESEND_FROM_EMAIL="VAR"
SENTRY_AUTH_TOKEN="VAR"
SENTRY_ORG="VAR"
SENTRY_OTLP_TRACES_URL="VAR"
SENTRY_PROJECT="VAR"
SENTRY_PUBLIC_KEY="VAR"
SENTRY_VERCEL_LOG_DRAIN_URL="VAR"
VERCEL_OIDC_TOKEN="VAR"
